
.albumPageHeader {
  display: flex;
  height: 50%;
}

.albumPageControls {
  position: relative;
}

.playAlbum {
  position: absolute;
  top: 25%;
  translate: translateY(-75%);
}

.likeButtonContainer {
  position: absolute;
  top: 50%;
  translate: translateY(-50%);
}

.editAlbum {
  position: absolute;
  top: 75%;
  translate: translateY(-75%);
}
