#header {
  border: solid black 1px;
  height: 100px;
  display: flex;
}

#mini-window {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#max-window {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  height: 100%;
}

#sidebar {
  border: solid black 1px;
  display: flex;
  width: 100px;
  flex-direction: column;
}

#playlist-picker {
  height: 150px;
}

#genre-picker {
  height: 100%;
}

.main {
  position: relative;
  border: solid black 1px;
  flex: 3;
  height: 100%;
}

.control-button {
  height: 100%;
}

*:focus {
  outline: none;
}

.songRow {
  border-bottom: solid black 1px;
}

.track-label {
  font-size: 14px;
}

.link:hover{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

input[type=image]:disabled{
  opacity:0.5;
}
